



h1 {
  color: black;
  text-align: left;
    font-size: 50px;
    font-family: "Staatliches";
    letter-spacing: 5px;
}
header {
  background-color: purple;
  padding: 25px;
  margin: auto;
  position: relative;
  
    
}

/* ALL NAV STYLES BELOW */

.bannerbackground{
	background-image: url("images/craigslist_02.png");
	background-repeat: no-repeat;
	background-size:auto;
}
body { 
    background-color:mediumpurple;
}


.container {
    display: flex;
    justify-content: space-between;
     
}

.column { 
    color: darkblue;
    
}


.searchbox {
    position: absolute;
    right: 120px;
    bottom: 52px;
   font-size: 120px;
    
}

ul{
    font-family: "Staatliches";
    letter-spacing: 1px;
}

h2 {
    font-family:"Staatliches";
    letter-spacing: 1px
}